@import url('https://fonts.googleapis.com/css2?family=Outfit');

body {
    background-image: url('https://i.pinimg.com/originals/7f/e7/74/7fe774bbacce09f00cb5b2e3cbc48db3.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 97.8px;
    font-family: 'Outfit', sans-serif;
}
header {
    width: 100%;
    height: 71.72px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 2;
}
#title {
    text-align: center;
    color: #f0f8ff;
    font-size: 39.12px;
    font-family: 'Outfit', sans-serif;
}
#description {
    text-align: center;
    color: #f0f8ff;
    font-size: 19.56px;
    margin-top: -13.04px;
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
}
.box {
    width: 755px;
    height: 1447.44px;
    background-color: #292929;
    margin: auto;
    border-radius: 6.52px;
    margin-top: 39.12px;
    opacity: 0.9;
    z-index: 1;
}
a {
    text-decoration: none;
}
.logo {
    display: flex;
    position: relative;
    top: 11.78816px;
    left: 18.1256px;
}
#logo-part {
    position: relative;
    left: 6.344px;
    top: -19.56px;
}
.fcc {
    color: #f0f8ff;
}
.link-logocolor {
    color: #f0f8ff;
    font-size: 18.1256px;
    font-weight: 600;
}
.follow {
    color: #000000;
    background-color: #00ffff;
    border-radius: 5%;
    position: relative;
    left: 4.5314px;
    height: 14.507px;
    font-size: 11.78816px;
    font-weight: 800;
}
.codepen-logo {
    width: 31.73936px;
    height: 27.201px;
    position: relative;
    top: 2.549px;
}
footer {
    text-align: center;
    height: 108.819px;
    margin-top: 97.8px;
}
h4 {
    font-size: 18.13864px;
    margin-bottom: -7.25676px;
    color: #f0f8ff;
}
.footy {
    padding: 0px 27.2px 0px 27.2px;
    color: #00ffff;
}
#portfolio:hover {
    font-size: 18.908px;
}
#github:hover {
    font-size: 18.908px;
}
#twitter:hover {
    font-size: 18.908px;
}
#footy-email:hover {
    font-size: 18.908px;
}
.copy {
    font-size: 11.78816px;
    color: #f0f8ff;
}
.opt {
    display: flex;
    float: right;
    list-style: none;
    position: relative;
    right: 23px;
    bottom: 63px;
    font-weight: 520;
    font-size: 14.507px;
}
.search-icon {
    width: 19.56px;
    height: 19.56px;
    position: relative;
    top: -6.52px;
}
.sign-in {
    color: #f0f8ff;
    padding-right: 4vw;
    position: relative;
    bottom: 6.52px;
}
#survey-form {
    padding: 34.556px 3.2vw;
}
.form-label {
    font-size: 19.56px;
    color: #f0f8ff;
    font-weight: 300;
}
.field-style {
    width: 664px;
    height: 32.6px;
    font-size: 16.3px;
    position: relative;
    top: 7.5px;
    border-radius: 6.52px;
}
.each-label-field {
    position: relative;
    top: 36.27px;
}
.submit-button {
    width: 680px;
    height: 52.16px;
    font-size: 16.3px;
    border-radius: 6.52px;
    background-color: #00ffff;
    color: #000000;
    position: relative;
    top: 268.148px;
}
.recomm {
    color: #f0f8ff;
    font-size: 19.56px;
    font-weight: 300;
    display: grid;
    line-height: 30px;
    position: relative;
    top: 137.74804px;
}
.improve-checkbox {
    color: #f0f8ff;
    font-size: 19.56px;
    font-weight: 300;
    display: grid;
    line-height: 30px;
    position: relative;
    top: 202.948px;
}
.check-all {
    font-size: 12.388px;
}
.suggest {
    width: 664px;
    height: 163px;
    font-size: 16.3px;
    border-radius: 6.52px;
}
.tell-us-more {
    font-size: 19.56px;
    color: #f0f8ff;
    font-weight: 300;
    line-height: 36.512px;
    position: relative;
    top: 235.548px;
}
#role {
    position: relative;
    top: 111.668px;
    width: 668px;
    height: 37.816px;
}
.sel-label {
    font-size: 19.56px;
    color: #f0f8ff;
    font-weight: 300;
    position: relative;
    top: 105.148px;
}
#number {
    width: 664px;
    height: 32.6px;
    font-size: 16.3px;
    position: relative;
    top: 79.068px;
    border-radius: 6.52px;
}
.number-label {
    font-size: 19.56px;
    color: #f0f8ff;
    font-weight: 300;
    position: relative;
    top: 72.548px;
}
#favorite-feature {
    position: relative;
    top: 170.348px;
    width: 671px;
    height: 37.815px;
}
.fave-label {
    font-size: 19.56px;
    color: #f0f8ff;
    font-weight: 300;
    position: relative;
    top: 163.828px;
}
 
